*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:blue;
}


a{
    text-decoration: none;
    color: blue;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}
a:hover {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    padding: 1%;
    border-radius: 5%;
}

.cabecera {
    background-color: #B3AFAC;
    display: flex;                
    align-items: center;         
    justify-content: space-between; 
    padding: 1rem;
}

.menu{
    display: flex;
    width: 60%;
}

.menu a{
    margin-right: 2%;
}

.logo {
    width: 20%;
    height: 10%;
    animation: logo 3s ease-in-out forwards;
}

@keyframes logo { 
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
        width: 20%;
        height: 10%;
    }
    50% {
        transform: rotate(180deg);
        opacity: 1;
        width: 25%;
        height: 12%;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
        width: 20%;
        height: 10%;
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #B3AFAC;
    text-align: center;
    padding: 1rem;
}