*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: black;
}
header{
    background-color: #B3AFAC;    
    width: 100%;

}
.top {
    display: flex;
    justify-content: space-between;

}


.top button{
    font-size: larger;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}


.cabecera{
    display: flex;                /* Flexbox para poner los elementos en línea */
    align-items: center;          /* Alinear verticalmente en el centro */
    justify-content: space-between; /* Espacio entre elementos */
    padding: 10px;

}
#imagenlogo{
    width: 250px;
   margin: 25px;
   border-radius: 7%;
}

.imagen-megusta{
   width: 50px;
}
.imagen-usuario{
    width: 50px;
 }
 .imagen-bolso{
    width: 50px;
 }

.menu ul a{
    margin: 5px;
    font-size: larger;
}
.Producto{
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-block;
    margin: 25px;
}


.overlay-text{
    position: relative;
    margin-top: -50px;
    margin-left: 20px;
}
.overlay-text{
    position: relative;
    margin-top: -50px;
}

.Producto img{
    width: 540px;
    height: auto;
    display: block;
    border-radius: 5%;
    
}


footer{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;  
    margin-right: 50px;
    margin-left: 50px;
}

.sobre-quimera{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: auto;
}